
vs2019_project/.vs/ft2-dxm/v16/.suo
vs2019_project/enc_temp_folder/*
vs2019_project/ft2-dxm/Release/ft2-dxm.vcxproj.FileListAbsolute.txt
vs2019_project/ft2-dxm/x64/Debug/ft2-dxm.vcxproj.FileListAbsolute.txt
vs2019_project/ft2-dxm/Debug/ft2-dxm.vcxproj.FileListAbsolute.txt
.DS_Store
*.exe
*.db
*.ilk
*.pdb
*.obj
*.log
*.res
*.tlog
*.idb
*.cache
*.ipch
*.opendb
*.cod
*.db-wal
*.db-shm
*.recipe
*.iobj
*.enc
release/macos/ft2-dxm-macos.app/Contents/MacOS/ft2-dxm-macos
